main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
    justify-content: center;
    margin: 5px 0 0;
    position: relative;
}

svg {
    border: 1px solid #fafafa;
}

h1 {
    margin: 0;
}

.flag {
    position: absolute;
}

#tooltip {
    pointer-events: none;
    z-index: 1;
}

.tooltip--visible {
    display: block;
}

.info {
    font-size: 12px;
    margin: 25px auto 0;
    width: 180px;
}

.info small {
    display: block;
}
