body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 0;
}

main {
    margin-top: 5px;
    position: relative;
}

.flag {
    position: absolute;
}

#tooltip {
    pointer-events: none;
    z-index: 1;
}

.tooltip--visible {
    display: block;
}
