body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    margin: 0;
}

h1 {
    margin-bottom: 0;
}
